Packages importeren

In [52]:
import pandas as pd
import numpy as np
import datetime as dt
import sqlite3

Connectie maken met Data Warehouse

In [53]:
DB = {'servername': 'ENVY-AKRAM\\SQLEXPRESS','database': 'Great Outdoors - Akram en Sylvan'}
export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

Connectie maken met brongegevens

In [58]:
import pandas as pd
go_sales_connection = sqlite3.connect('Data\\Brongegevens\\go_sales.sqlite')
go_crm_connection = sqlite3.connect('Data\\Brongegevens\\go_crm.sqlite')
go_staff_connection = sqlite3.connect('Data\\Brongegevens\\go_staff.sqlite')



# Read the CSV file into a pandas DataFrame
df_inventory = pd.read_csv('Data\\Brongegevens\\GO_SALES_INVENTORY_LEVELSData.csv')
df_product = pd.read_csv('Data\\Brongegevens\\GO_SALES_PRODUCT_FORECASTData.csv')


# Display the DataFrame
print(df_inventory)

      INVENTORY_YEAR  INVENTORY_MONTH  PRODUCT_NUMBER  INVENTORY_COUNT
2021               4               48            1932              NaN
2021               4               49            1400              NaN
2021               4               50           21705              NaN
2021               4               51            9710              NaN
2021               4               52            5616              NaN
...              ...              ...             ...              ...
2022              12              111            1128              NaN
2022              12              112            7810              NaN
2022              12              113            3485              NaN
2022              12              114             350              NaN
2022              12              115            3310              NaN

[3888 rows x 4 columns]

Helper functie tables inlezen

In [62]:
def readTable(connection, table):
    query = 'SELECT * FROM ' + table
    return pd.read_sql_query(query, connection)

Database Go Sales

In [63]:
tables = pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"', go_sales_connection)
country = readTable(go_sales_connection, 'country')
order_details = readTable(go_sales_connection, 'order_details')
order_header = readTable(go_sales_connection, 'order_header')
product = readTable(go_sales_connection, 'product')
product_line = readTable(go_sales_connection, 'product_line')
product_type = readTable(go_sales_connection, 'product_type')
retailer_site = readTable(go_sales_connection, 'retailer_site')
return_reason = readTable(go_sales_connection, 'return_reason')
sales_branch = readTable(go_sales_connection, 'sales_branch')
sales_staff = readTable(go_sales_connection, 'sales_staff')
sales_targetdata = readTable(go_sales_connection, 'SALES_TARGETData')
tables

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

Database Go Staff

In [71]:
tables = pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"', go_staff_connection)
course = readTable(go_staff_connection, 'course')
sales_branch = readTable(go_staff_connection, 'sales_branch')
sales_staff = readTable(go_staff_connection, 'sales_staff')
satisfaction = readTable(go_staff_connection, 'satisfaction')
satisfaction_type = readTable(go_staff_connection, 'satisfaction_type')
training = readTable(go_staff_connection, 'training')
tables

                name
0             course
1       sales_branch
2        sales_staff
3       satisfaction
4  satisfaction_type
5           training

Database Go Crm

In [74]:
tables = pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"', go_crm_connection)
age_group = readTable(go_crm_connection, 'age_group')
country = readTable(go_crm_connection, 'country')
retailer = readTable(go_crm_connection, 'retailer')
retailer_contact = readTable(go_crm_connection, 'retailer_contact')
retailer_headquarters = readTable(go_crm_connection, 'retailer_headquarters')
retailer_segment = readTable(go_crm_connection, 'retailer_segment')
retailer_site = readTable(go_crm_connection, 'retailer_site')
retailer_type = readTable(go_crm_connection, 'retailer_type')
sales_demographic = readTable(go_crm_connection, 'sales_demographic')
sales_territory = readTable(go_crm_connection, 'sales_territory')
tables

retailer_headquarters

,RETAILER_CODEMR,RETAILER_NAME,ADDRESS1,ADDRESS2,CITY,REGION,POSTAL_ZONE,COUNTRY_CODE,PHONE,FAX,SEGMENT_CODE,TRIAL222
0,1,Rock Steady,"45, rue Atwater",None,Montréal,Québec,H2T 9K8,4,1 (514) 747-4481,1 (514) 741-2277,2,T
1,10,Excellence en Montagne,"160, rue Moureaux",Bureau 410,Ville de Québec,Québec,G1B 3L5,4,1 (418) 653-6456,1 (418) 653-2311,2,T
2,11,Vacation Central,"3000, 58 Merivale Road",None,Ottawa,Ontario,K0T 9R0,4,1 (613) 736-6443,1 (613) 736-5593,6,T
3,12,Outdoor Central Ltd,"Suite 23, 180 McKercher Drive",None,Regina,Saskatchewan,S6J 3G0,4,1 (306) 243-8764,1 (306) 243-5213,2,T
4,13,Precipice Equipment,23 Blackcomb Way,None,Whistler,British Columbia,V6T 1Y8,4,1 (604) 938-7564,1 (604) 938-2324,1,T
...,...,...,...,...,...,...,...,...,...,...,...,...
409,9,Over the Top Cycles,23 Nowlan Drive,None,Moncton,New Brunswick,E1A 2A7,4,1 (506) 849-8756,1 (506) 849-6432,7,T
410,90,Weston Outfitters,738 Greyling Street,None,San Diego,California,92129,3,1 (619) 223-1235,1 (619) 223-1245,2,T
411,91,"Artículos de Campismo El Aquila, S.A. de C.V.",Avda. Chapultepec 246-303,Virreyes,Distrito Federal,México,06700,20,+(525) 684 7127,+(525) 684 7119,2,T
412,92,"Todo para el Golf, S.A. de C.V.",Francisco Munguía No. 45,Atahualpa,Monterey,Nuevo León,30530,20,+(528) 366 6773,+(528) 366 6717,3,T
413,93,"MER-KA-DOS, S.A. de C.V.","Río Rhin 56, Piso 6",Cuauhtemoc,Distrito Federal,México,06500,20,+(525) 645 9288,+(525) 645 9200,5,T

Retailer Headquarters

In [85]:
retailer_headquarters = pd.merge(
    retailer_headquarters[['RETAILER_CODEMR', 'RETAILER_NAME', 'ADDRESS1', 'ADDRESS2', 'POSTAL_ZONE', 'CITY', 'COUNTRY_CODE', 'REGION', 'PHONE', 'FAX', 'SEGMENT_CODE']], 
    country[['COUNTRY_CODE', 'COUNTRY_EN', 'FLAG_IMAGE', 'SALES_TERRITORY_CODE']], left_on='COUNTRY_CODE', right_on='COUNTRY_CODE', 
    how='inner'
    ).merge(sales_territory[['SALES_TERRITORY_CODE', 'TERRITORY_NAME_EN']], left_on='SALES_TERRITORY_CODE', right_on='SALES_TERRITORY_CODE', how='inner'
            ).merge(retailer_segment[['SEGMENT_CODE', 'LANGUAGE', 'SEGMENT_NAME', 'SEGMENT_DESCRIPTION']], left_on='SEGMENT_CODE', right_on='SEGMENT_CODE', how='inner')
retailer_headquarters

,RETAILER_CODEMR,RETAILER_NAME,ADDRESS1,ADDRESS2,POSTAL_ZONE,CITY,COUNTRY_CODE,REGION,PHONE,FAX,SEGMENT_CODE,COUNTRY_EN,FLAG_IMAGE,SALES_TERRITORY_CODE,TERRITORY_NAME_EN,LANGUAGE,SEGMENT_NAME,SEGMENT_DESCRIPTION
0,1,Rock Steady,"45, rue Atwater",None,H2T 9K8,Montréal,4,Québec,1 (514) 747-4481,1 (514) 741-2277,2,Canada,F04,1,Americas,EN,Outdoors Shop,"Primarily offers camping supplies, hiking equi..."
1,10,Excellence en Montagne,"160, rue Moureaux",Bureau 410,G1B 3L5,Ville de Québec,4,Québec,1 (418) 653-6456,1 (418) 653-2311,2,Canada,F04,1,Americas,EN,Outdoors Shop,"Primarily offers camping supplies, hiking equi..."
2,11,Vacation Central,"3000, 58 Merivale Road",None,K0T 9R0,Ottawa,4,Ontario,1 (613) 736-6443,1 (613) 736-5593,6,Canada,F04,1,Americas,EN,Direct Marketing - Exclusive,Offers a wide range of goods through mail orde...
3,12,Outdoor Central Ltd,"Suite 23, 180 McKercher Drive",None,S6J 3G0,Regina,4,Saskatchewan,1 (306) 243-8764,1 (306) 243-5213,2,Canada,F04,1,Americas,EN,Outdoors Shop,"Primarily offers camping supplies, hiking equi..."
4,13,Precipice Equipment,23 Blackcomb Way,None,V6T 1Y8,Whistler,4,British Columbia,1 (604) 938-7564,1 (604) 938-2324,1,Canada,F04,1,Americas,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,9,Over the Top Cycles,23 Nowlan Drive,None,E1A 2A7,Moncton,4,New Brunswick,1 (506) 849-8756,1 (506) 849-6432,7,Canada,F04,1,Americas,EN,Direct Marketing,Offers a wide range of goods through mail orde...
410,90,Weston Outfitters,738 Greyling Street,None,92129,San Diego,3,California,1 (619) 223-1235,1 (619) 223-1245,2,United States,F03,1,Americas,EN,Outdoors Shop,"Primarily offers camping supplies, hiking equi..."
411,91,"Artículos de Campismo El Aquila, S.A. de C.V.",Avda. Chapultepec 246-303,Virreyes,06700,Distrito Federal,20,México,+(525) 684 7127,+(525) 684 7119,2,Mexico,F19,1,Americas,EN,Outdoors Shop,"Primarily offers camping supplies, hiking equi..."
412,92,"Todo para el Golf, S.A. de C.V.",Francisco Munguía No. 45,Atahualpa,30530,Monterey,20,Nuevo León,+(528) 366 6773,+(528) 366 6717,3,Mexico,F19,1,Americas,EN,Golf Shop,Primarily offers golf equipment and accessories.
413,93,"MER-KA-DOS, S.A. de C.V.","Río Rhin 56, Piso 6",Cuauhtemoc,06500,Distrito Federal,20,México,+(525) 645 9288,+(525) 645 9200,5,Mexico,F19,1,Americas,EN,Department Store,Offers a wide range of goods.

Product

In [92]:
product = pd.merge(
    product[['PRODUCT_NUMBER', 'PRODUCT_NAME', 'PRODUCT_IMAGE', 'DESCRIPTION', 'INTRODUCTION_DATE', 'PRODUCTION_COST', 'MARGIN', 'LANGUAGE', 'PRODUCT_TYPE_CODE']], 
    product_type[['PRODUCT_TYPE_CODE', 'PRODUCT_TYPE_EN', 'PRODUCT_LINE_CODE']], left_on='PRODUCT_TYPE_CODE', right_on='PRODUCT_TYPE_CODE', how='inner'
    ).merge( product_line[['PRODUCT_LINE_CODE', 'PRODUCT_LINE_EN']], left_on='PRODUCT_LINE_CODE', right_on='PRODUCT_LINE_CODE', how='inner')
product

,PRODUCT_NUMBER,PRODUCT_NAME,PRODUCT_IMAGE,DESCRIPTION,INTRODUCTION_DATE,PRODUCTION_COST,MARGIN,LANGUAGE,PRODUCT_TYPE_CODE,PRODUCT_TYPE_EN,PRODUCT_LINE_CODE,PRODUCT_LINE_EN
0,1,TrailChef Water Bag,P01CE1CG1.jpg,"Lightweight, collapsible bag to carry liquids ...",15-2-2011,4,.33,EN,1,Cooking Gear,1,Camping Equipment
1,10,TrailChef Utensils,P10CE1CG1.jpg,"Spoon, fork and knife set made of a light yet ...",15-2-2011,10,.4,EN,1,Cooking Gear,1,Camping Equipment
2,100,Insect Bite Relief,P100OP4FA17.jpg,The Insect Bite Relief helps the itching and s...,15-2-2011,3,.5,EN,17,First Aid,4,Outdoor Protection
3,101,Hailstorm Steel Irons,P101GE5IR18.jpg,Iron is 17-4 stainless steel. Shafts are grap...,15-12-2019,305.54,.43,EN,18,Irons,5,Golf Equipment
4,102,Hailstorm Titanium Irons,P102GE5IR18.jpg,Made entirely of pure titanium. The ultimate i...,10-12-2019,380.95,.51,EN,18,Irons,5,Golf Equipment
...,...,...,...,...,...,...,...,...,...,...,...,...
110,95,Sun Shield,P91OP4SS16.jpg,"PABA free sunscreen, SPF 30, poison oak and iv...",15-2-2011,3,.5,EN,16,Sunscreen,4,Outdoor Protection
111,96,Compact Relief Kit,P96OP4FA17.jpg,A personal first aid kit is recommended for ev...,15-2-2011,16.43,.28,EN,17,First Aid,4,Outdoor Protection
112,97,Deluxe Family Relief Kit,P96OP4FA17.jpg,A complete medical kit suitable for families w...,5-3-2013,25,.28,EN,17,First Aid,4,Outdoor Protection
113,98,Calamine Relief,P98OP4FA17.jpg,Use the Calamine Relief for allergic skin reac...,15-2-2011,3,.5,EN,17,First Aid,4,Outdoor Protection
114,99,Aloe Relief,P99OP4FA17.jpg,"Perfect for minor burns and sunburn, the aloe ...",15-2-2011,2,.6,EN,17,First Aid,4,Outdoor Protection

Training

In [99]:
training = pd.merge(
    course[['COURSE_CODE', 'COURSE_DESCRIPTION']],
    training[['COURSE_CODE', 'SALES_STAFF_CODE', 'YEAR']], left_on='COURSE_CODE', right_on='COURSE_CODE', how='inner')
training

    COURSE_CODE COURSE_DESCRIPTION SALES_STAFF_CODE  YEAR
0             1     GO Orientation              101  2004
1             1     GO Orientation              102  2004
2             1     GO Orientation              103  2004
3             1     GO Orientation              112  2004
4             1     GO Orientation              113  2004
..          ...                ...              ...   ...
397           9    GO Management 2               72  2005
398           9    GO Management 2               75  2006
399           9    GO Management 2               79  2006
400           9    GO Management 2               87  2006
401           9    GO Management 2               89  2004

[402 rows x 4 columns]

Satisfaction

In [100]:
satisfaction = pd.merge(
    satisfaction[['YEAR', 'SALES_STAFF_CODE', 'SATISFACTION_TYPE_CODE']],
    satisfaction_type[['SATISFACTION_TYPE_CODE', 'SATISFACTION_TYPE_DESCRIPTION']], left_on='SATISFACTION_TYPE_CODE', right_on='SATISFACTION_TYPE_CODE', how='inner')
satisfaction

,YEAR,SALES_STAFF_CODE,SATISFACTION_TYPE_CODE,SATISFACTION_TYPE_DESCRIPTION
0,2004,100,1,Not satisfied
1,2004,101,4,Very Satisfied
2,2004,102,4,Very Satisfied
3,2004,103,3,Satisfied
4,2004,104,4,Very Satisfied
...,...,...,...,...
296,2006,94,3,Satisfied
297,2006,95,4,Very Satisfied
298,2006,96,5,More than satisfied
299,2006,98,4,Very Satisfied
300,2006,99,5,More than satisfied

Sales Demographic

In [101]:
sales_demographic = pd.merge(
    sales_demographic[['DEMOGRAPHIC_CODE', 'SALES_PERCENT', 'RETAILER_CODEMR', 'AGE_GROUP_CODE']]
    , age_group[['AGE_GROUP_CODE', 'UPPER_AGE', 'LOWER_AGE']], left_on='AGE_GROUP_CODE', right_on='AGE_GROUP_CODE', how='inner')
sales_demographic

,DEMOGRAPHIC_CODE,SALES_PERCENT,RETAILER_CODEMR,AGE_GROUP_CODE,UPPER_AGE,LOWER_AGE
0,1,52,1,1,20,0
1,10,16,2,4,50,41
2,100,11,17,4,50,41
3,1000,6,164,3,40,31
4,1001,9,164,4,50,41
...,...,...,...,...,...,...
2479,995,4,143,4,50,41
2480,996,5,143,5,60,51
2481,997,3,143,6,70,61
2482,998,32,164,1,20,0
2483,999,37,164,2,30,21