Packages importeren

In [52]:
import pandas as pd
import numpy as np
import datetime as dt
import sqlite3

Connectie maken met Data Warehouse

In [53]:
DB = {'servername': 'ENVY-AKRAM\\SQLEXPRESS','database': 'Great Outdoors - Akram en Sylvan'}
export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

Connectie maken met brongegevens

In [58]:
import pandas as pd
go_sales_connection = sqlite3.connect('Data\\Brongegevens\\go_sales.sqlite')
go_crm_connection = sqlite3.connect('Data\\Brongegevens\\go_crm.sqlite')
go_staff_connection = sqlite3.connect('Data\\Brongegevens\\go_staff.sqlite')



# Read the CSV file into a pandas DataFrame
df_inventory = pd.read_csv('Data\\Brongegevens\\GO_SALES_INVENTORY_LEVELSData.csv')
df_product = pd.read_csv('Data\\Brongegevens\\GO_SALES_PRODUCT_FORECASTData.csv')


# Display the DataFrame
print(df_inventory)

      INVENTORY_YEAR  INVENTORY_MONTH  PRODUCT_NUMBER  INVENTORY_COUNT
2021               4               48            1932              NaN
2021               4               49            1400              NaN
2021               4               50           21705              NaN
2021               4               51            9710              NaN
2021               4               52            5616              NaN
...              ...              ...             ...              ...
2022              12              111            1128              NaN
2022              12              112            7810              NaN
2022              12              113            3485              NaN
2022              12              114             350              NaN
2022              12              115            3310              NaN

[3888 rows x 4 columns]

Helper functie tables inlezen

In [62]:
def readTable(connection, table):
    query = 'SELECT * FROM ' + table
    return pd.read_sql_query(query, connection)

Database Go Sales

In [63]:
tables = pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"', go_sales_connection)
country = readTable(go_sales_connection, 'country')
order_details = readTable(go_sales_connection, 'order_details')
order_header = readTable(go_sales_connection, 'order_header')
product = readTable(go_sales_connection, 'product')
product_line = readTable(go_sales_connection, 'product_line')
product_type = readTable(go_sales_connection, 'product_type')
retailer_site = readTable(go_sales_connection, 'retailer_site')
return_reason = readTable(go_sales_connection, 'return_reason')
sales_branch = readTable(go_sales_connection, 'sales_branch')
sales_staff = readTable(go_sales_connection, 'sales_staff')
sales_targetdata = readTable(go_sales_connection, 'SALES_TARGETData')
tables

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

Database Go Staff

In [71]:
tables = pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"', go_staff_connection)
course = readTable(go_staff_connection, 'course')
sales_branch = readTable(go_staff_connection, 'sales_branch')
sales_staff = readTable(go_staff_connection, 'sales_staff')
satisfaction = readTable(go_staff_connection, 'satisfaction')
satisfaction_type = readTable(go_staff_connection, 'satisfaction_type')
training = readTable(go_staff_connection, 'training')
tables

                name
0             course
1       sales_branch
2        sales_staff
3       satisfaction
4  satisfaction_type
5           training

Database Go Crm

In [70]:
tables = pd.read_sql('SELECT name FROM sqlite_master WHERE type="table"', go_crm_connection)
age_group = readTable(go_crm_connection, 'age_group')
country = readTable(go_crm_connection, 'country')
retailer = readTable(go_crm_connection, 'retailer')
retailer_contact = readTable(go_crm_connection, 'retailer_contact')
retailer_headquarters = readTable(go_crm_connection, 'retailer_headquarters')
retailer_segment = readTable(go_crm_connection, 'retailer_segment')
retailer_site = readTable(go_crm_connection, 'retailer_site')
retailer_type = readTable(go_crm_connection, 'retailer_type')
sales_demographic = readTable(go_crm_connection, 'sales_demographic')
sales_territory = readTable(go_crm_connection, 'sales_territory')
tables

                    name
0              age_group
1                country
2               retailer
3       retailer_contact
4  retailer_headquarters
5       retailer_segment
6          retailer_site
7          retailer_type
8      sales_demographic
9        sales_territory